{% load static %}
{# Script refrences #}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>
<script src="{% static 'assets/plugins/aos-master/dist/aos.js' %}"></script>
<script src="{% static 'assets/js/droopmenu.js' %}"></script>
<script src="{% static 'assets/js/nouislider.min.js' %}"></script>
<script src="{% static 'assets/js/pagination.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>


{# for Product detail #}
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/nav-tabs.js' %}"></script>
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/photoswipe.min.js' %}"></script>
<script src="{% static 'assets/js/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'assets/js/product-gallery.js' %}"></script>