{% load static %}
{# Css Refrences #}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.rtl.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/aos-master/dist/aos.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/hover-master/css/hover-min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/ionicons.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/droopmenu.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/highlight.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/nouislider.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

{# for Product detail #}
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/product-gallery.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/photoswipe.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/default-skin.min.css' %}" />
